<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <title>Submit Details</title>
  <link rel="stylesheet" href="/css/tailwind-built.css">
</head>
<body class="h-full">
  <div class="min-h-full">
    <div class="bg-indigo-600 pb-32">
      <nav class="border-b border-indigo-300 border-opacity-25 bg-indigo-600 lg:border-none">
        <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
          <div class="relative flex h-16 items-center justify-between lg:border-b lg:border-indigo-400 lg:border-opacity-25">
            <div class="flex items-center px-2 lg:px-0">
              <div class="flex-shrink-0">
                <img class="block h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=300" alt="Your Company">
              </div>
              <div class="hidden lg:ml-10 lg:block">
                <div class="flex space-x-4">
                  <a href="#" class="rounded-md bg-indigo-700 px-3 py-2 text-sm font-medium text-white" aria-current="page">Adobe APIs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header class="py-10">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">Submit Details</h1>
        </div>
      </header>
    </div>
  
    <main class="-mt-32">
      <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
          <div class="mx-auto max-w-7xl p-8 sm:p-6">
            <form action="/submit" method="post">
              <div class="space-y-12">
                <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
                  <div>
                    <h2 class="text-base font-semibold leading-7 text-gray-900">API Details</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Please do not share your client ID or client Secret with anyone else.</p>
                  </div>
            
                  <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                    <div class="sm:col-span-4">
                      <label for="clientId" class="block text-sm font-medium leading-6 text-gray-900">Client ID:</label>
                      <div class="mt-2">
                        <input type="text" name="clientId" id="clientId" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                    </div>

                    <div class="sm:col-span-4">
                      <label for="clientSecret" class="block text-sm font-medium leading-6 text-gray-900">Client Secret:</label>
                      <div class="mt-2">
                        <input type="text" name="clientSecret" id="clientSecret" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                    </div>
            
                    <div class="sm:col-span-4">
                      <label for="reportSuites" class="block text-sm font-medium leading-6 text-gray-900">Report Suite(s):</label>
                      <div class="mt-2 flex rounded-md shadow-sm">
                        <div class="report-suite-group relative flex flex-grow items-stretch focus-within:z-10">
                          <input type="text" name="reportSuiteList[]" required class="block w-full rounded-l-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <button onclick="addReportSuite()"  type="button" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                          <svg class="-ml-0.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                          </svg>
                          Add
                        </button>
                      </div>
                      <div class="mt-2" id="reportSuites"></div>
                    </div>
                    
            
                  </div>
                </div>
              </div>
            
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
              </div>
            </form>
        </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    let reportSuiteCount = 1;

    function addReportSuite() {
      reportSuiteCount++;
      const reportSuitesDiv = document.getElementById('reportSuites');
      const newReportSuiteGroup = document.createElement('div');
      newReportSuiteGroup.className = 'report-suite-group mt-2';
      newReportSuiteGroup.innerHTML = `
        <input type="text" name="reportSuiteList[]" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      `;
      reportSuitesDiv.appendChild(newReportSuiteGroup);
    }
  </script>
</body>
</html>
